h1 {
    font-family: 'Bebas Neue', sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
}

.primary {
    background-color: rgb(197, 194, 194);
}

.fiveDay {
    margin: 0;
    max-width: 100%;
}

.fiveDay ul {
    font-size: 12px;
}